<div class="card" [formGroup]="surveyForm">

  <div *ngIf="step === 0" class="step">
    <div class="card1_image">
      <img ngSrc="assets/images/img.jpg" height="331" width="422">
    </div>
    <p>
      Good Morning / Afternoon / Evening.
      Dear Passenger! At Indian Railways, we continuously strive to provide excellent services to you.
      In order to improve further, we would like you to participate in this survey which is being conducted by IRCTC
      with the help of Foresight Research & Consulting Pvt Ltd. Please spend some time telling us about your experience
      on this Train. Your feedback is very important to us. This will help us serve you better next time. Thank you.
      Please share following details:
    </p>
  </div>

  <div *ngIf="step === 1" class="step">

    <div class="card-header">
      <h2>{{stepMap[step]?.question[0][language]}}</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q1">
        <label *ngFor="let list of A1; let i = index" [nzValue]="i+1" class="radio"
               nz-radio>{{ list[language] }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 2" class="step">
    <div class="card-header">
      <h2>{{stepMap[step]?.question[0][language]}}</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q2">
        <label *ngFor="let list of A2; let i = index" [nzValue]="i+1" class="radio"
               nz-radio>{{ list[language] }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 3" class="step">
    <div class="card-header">
      <h2>{{stepMap[step]?.question[0][language]}}</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q3">
        <label *ngFor="let list of A3; let i = index" [nzValue]="i+1" class="radio"
               nz-radio>{{ list[language] }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 4" class="step">

      <div class="card-header">
        <h2>{{stepMap[step]?.question[0][language]}}</h2>
      </div>
      <div class="form-group">
        <nz-radio-group class="radio-group" formControlName="q1">
          <label *ngFor="let list of A4; let i = index" [nzValue]="i+1" class="radio"
                 nz-radio>{{ list[language] }}</label>
        </nz-radio-group>
      </div>
  </div>
  <div *ngIf="step === 4" class="step">

      <div class="card-header">
        <h2>{{stepMap[step]?.question[0][language]}}</h2>
      </div>
      <div class="form-group">
        <nz-radio-group class="radio-group" formControlName="q1">
          <label *ngFor="let list of gender1; let i = index" [nzValue]="i+1" class="radio"
                 nz-radio>{{ list[language] }}</label>
        </nz-radio-group>
      </div>
  </div>


  <div *ngIf="step === 5" class="step">
    <div class="card-header">
      <h2>{{stepMap[step]?.question[0][language]}}</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q5">
        <label *ngFor="let list of a1; let i = index" [nzValue]="i+1" class="radio"
               nz-radio>{{ list[language] }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 6" class="step">
    <div class="card-header" >
      <h2>{{stepMap[step]?.question[0][language]}}</h2>
    </div>
    <div class="form-group mob_hide">
      <div class="table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th *ngFor="let list of rateQuestion">{{list[language]}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td *ngFor="let list of rateQuestion; let i = index">{{ i + 1 }}</td>
          </tr>
          <tr>
            <td *ngFor="let list of rateQuestion; let i = index">
              <input [value]="i+1" formControlName="B1" type="radio">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group mob_show">
      <nz-radio-group class="radio-group" formControlName="B1">
        <label *ngFor="let list of rateQuestion; let i = index" [nzValue]="i+1" class="radio"
               nz-radio>{{i + 1}} {{ list[language] }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 7" class="step">

      <div class="card-header">
        <h2>{{stepMap[step]?.question[0][language]}}</h2>
      </div>
      <div class="form-group">
        <nz-radio-group class="radio-group" formControlName="q1">
          <label *ngFor="let list of a3; let i = index" [nzValue]="i+1" class="radio"
                 nz-radio>{{ list[language] }}</label>
        </nz-radio-group>
      </div>
    </div>

  <div *ngIf="step === 8" class="step">
    <div class="card-header">
      <h2>{{stepMap[step]?.question[0][language]}}</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q8">
        <label *ngFor="let list of gender2; let i = index" [nzValue]="i+1" class="radio"
               nz-radio>{{ list[language] }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 16" class="step">
    <div class="card-header">
      <h2>THANK YOU VERY MUCH FOR YOUR COOPERATION.</h2>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <h5>Respondent Information</h5>
          <div class="form-group mb-4">
            <label>Name of respondent: </label>
            <input class="d-block" formControlName="name" pInputText type="text"/>
          </div>
          <div class="form-group mb-4">
            <label>Contact Number: </label>
            <p-inputMask class="d-block"
                         type="tel" mask="(999) 999-9999"
                         placeholder="(xxx) xxx-xxxx"
                         formControlName="contactNumber" inputmode="numeric"  autocomplete="off" >
            </p-inputMask>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Appointment Details</h5>
          <div class="form-group mb-4">
            <label>Recruiter Name: </label>
            <input class="d-block" formControlName="surveyorName" pInputText type="text"/>
          </div>
          <div class="form-group mb-4">
            <label>Date/Time: </label>
            <p-calendar appendTo="body" styleClass="d-block" [touchUI]="isMobile" formControlName="date" dateFormat="D, d/m/y" [readonlyInput]="true" [showTime]="true"></p-calendar>
          </div>
          <div class="form-group mb-4">
            <label>Place: </label>
            <input class="d-block" formControlName="place" pInputText type="text"/>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="button-section">
    <button [disabled]="[0].includes(step)" (click)="prevStep()" nz-button nzType="primary">Back</button>
<!--    <span class="step-counter">{{ step }}/{{ MAX_STEP }}</span>-->
    <button *ngIf="![0].includes(step)" (click)="clearControl()" nz-button nzType="dashed">Clear</button>
<!--    <button *ngIf="![0, 1].includes(step)" (click)="switchLanguage()" nz-button nzType="dashed">Switch Language</button>-->
    <button (click)="nextStep()" [disabled]="disableNext" [nzLoading]="surveySubmitStarted" nz-button nzType="primary">
      <ng-container *ngIf="step === MAX_STEP; else showNext" >
        Submit
      </ng-container>
      <ng-template #showNext>
        Next
      </ng-template>
    </button>
  </div>
</div>

