<div class="container-fluid mt-4">
  <div class="row">

    <div class="col-sm-12 col-md-6  mb-2">
      <p-card header="Q1. Purpose of Travel">
        <p-chart type="bar" [data]="q1Data" [options]="basicOptions"></p-chart>
      </p-card>
    </div>

    <div class="col-sm-12 col-md-6  mb-2">
      <p-card header="Q3. Food Choices">
        <p-chart type="bar" [data]="q3Data" [options]="basicOptions"></p-chart>
      </p-card>
    </div>

    <div class="col-sm-12 col-md-6  mb-2">
      <p-card header="Q4. Age Group">
        <p-chart type="bar" [data]="q4Data" [options]="basicOptions"></p-chart>
      </p-card>
    </div>

    <div class="col-sm-12 col-md-6  mb-2">
      <p-card header="Q5. Gender">
        <p-chart type="bar" [data]="q5Data" [options]="basicOptions"></p-chart>
      </p-card>
    </div>

  </div>

</div>
