<nav>
  <input id="check" type="checkbox">
  <label class="checkbtn" for="check">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo" routerLink="/">
    Survetrics
  </label>
  <ul>
    <!--    <li><a class="active" href="#">Home</a></li>-->
    <li *ngIf="currentUser">
      <a routerLink="/dashboard/live">Live Dashboard</a>
    </li>
<!--    <li *ngIf="currentUser && currentUser.isSuperAdmin">-->
<!--      <a routerLink="/dashboard/client">Client Dashboard</a>-->
<!--    </li>-->
    <li *ngIf="currentUser && currentUser.isSuperAdmin">
      <a (click)="downloadExcel()" href="javascript:void(0)">
        <i class="fa-solid fa-download mr-1"></i> Download Excel
      </a>
    </li>
    <li *ngIf="currentUser">
      <a (click)="auth.logout()" href="javascript:void(0)">
        <i class="fa-solid fa-right-from-bracket mr-2"></i>Logout
      </a>
    </li>
  </ul>
</nav>
