<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">
    Survetrics
  </label>
  <ul>
<!--    <li><a class="active" href="#">Home</a></li>-->
<!--    <li><a href="#">About</a></li>-->
<!--    <li><a href="#">Services</a></li>-->
    <li *ngIf="auth.currentUser.getValue()?.isSuperAdmin"><a (click)="downloadExcel()" href="javascript:void(0)"><i class="fa-solid fa-download mr-2"></i>Download Excel</a></li>
    <li><a (click)="auth.logout()" href="javascript:void(0)"><i class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a></li>
  </ul>
</nav>
